.name{
 font-family: 'Italianno', cursive;
 font-size: 152px;
 word-spacing: 4px;
 font-weight: 100;
}
.sub-name{
  font-family: 'Raleway Dots', cursive;
  font-size: 60px;
  word-spacing: 4px;
}
.App {
  text-align: center;
}
